* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir', 'Segoe UI', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 30px;
}

.input {
    max-width: 100%;
    width: 300px;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
    padding: 5px 10px;
    border: 2px solid yellow;
    border-radius: 10px;
}

.message {
    margin: 10px 0;
    font-size: 128px;
    color: purple;
}